In [1]:
from immo_tools import calculator

In [2]:
loan = calculator.build_loan(300, 250000, 1.5, .26, build_summary=True, duration_unit='month')

Tableaux d'amoritssement :

In [4]:
loan.summary.head().round(2)

,annees,mensualites,assur tot,mensu avc assur,refunded_cap,interset,cap
0,1,998.64,54.17,1052.81,688.27,310.37,249311.73
1,1,998.64,54.17,1052.81,689.12,309.52,248622.61
2,1,998.64,54.17,1052.81,689.98,308.66,247932.63
3,1,998.64,54.17,1052.81,690.84,307.81,247241.79
4,1,998.64,54.17,1052.81,691.69,306.95,246550.10

montant total des intérêts payés :

In [5]:
loan.get_interests()

49592.43

mensualités sans assurance :

In [6]:
loan.get_monthly()

998.6414196058942

Cout de l'emprunt au bout de 10 ans :

In [7]:
loan.get_cost(10)

interset        30834.60
assur tot        6500.00
refunded_cap    89002.37
dtype: float64